<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='static.css') }}">
    <title>Fake News Detector</title>
</head>
<body>
    <div class="container">
        <h1>Fake News Detector</h1>
        <form action="/predict" method="post">
            <textarea name="news" placeholder="Enter news content here..." required></textarea>
            <button type="submit">Check News</button>
        </form>
    </div>
</body>
</html>
